# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://zsdlyxxuyzozff:4741bf88b903f8125d81afa364b540abf3b14ee4ffde791d47c3f573e833790a@ec2-34-242-84-130.eu-west-1.compute.amazonaws.com:5432/d7mitbn6v0oig011"
SHADOW_DATABASE_URL="postgres://dfjaofeteghuwy:75c5312718e9e45db5b8ca0cabd2efe247bb11b21cc0e35af0fca487a8bd48e7@ec2-34-247-172-149.eu-west-1.compute.amazonaws.com:5432/dfnp9kk7ast47r11"